@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant hover {
  @media (pointer: fine) {
    &:hover {
      @slot;
    }
  }
}

@theme {
  --font-default: "Raleway", sans-serif;

  --animate-fade-in: fade-in 0.5s linear both running;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-in-from-top: fade-in-from-top 0.5s linear both running;
  @keyframes fade-in-from-top {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in-from-bottom: fade-in-from-bottom 0.5s linear both running;
  @keyframes fade-in-from-bottom {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-rotate-pulse: rotate-pulse 0.75s linear infinite normal both running;
  @keyframes rotate-pulse {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0.8);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
}

@utility bg-main {
  @apply bg-gradient-to-b from-[#f4f4f5] via-[#f4f4f5] to-[#efd7e5]/70 dark:bg-zinc-900 dark:from-transparent dark:via-transparent dark:to-transparent;
}

@utility fade-in {
  @apply animate-fade-in;
}

@utility fade-in-from-top {
  @apply animate-fade-in-from-top;
}

@utility fade-in-from-bottom {
  @apply animate-fade-in-from-bottom;
}

@utility rotate-pulse {
  @apply animate-rotate-pulse;
}

@layer base {
  body {
    @apply font-default bg-main;
  }
}

@layer components {
  .component-image-bg {
    @apply rounded-lg bg-[#eee3df];
  }
}
